@import "~antd/dist/antd.css";

.body-image {
  background-image: url("./assets/erda-estremera-sxNt9g77PE0-unsplash.jpg");
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.moving-details {
  width: 35%;
  height: 100vh;
  padding: 2rem;
  border: 1px solid lightgray;
}
