.home {
  box-sizing: content-box;
  height: 93vh;
  /* background-image: url(../assets/erda-estremera-sxNt9g77PE0-unsplash.jpg); */
  /* height: 500px; */
  /* background-position: center; */
  /* background: red; */
}

img {
  width: 100vw;
  height: auto;
}
